---
import rawData from "../js/load.js";
import Layout from "../layouts/Layout.astro";

// let data = rawData.slice(2, 8);
let data = rawData;

const divBy = 5.5;
---

<Layout title="initial page">
  <!-- <h1>JW Pippen Gallery Test</h1>
  <div id="app" class="gallery">
    <div class="pswp-gallery" id="my-gallery">
      {
        data.map(function (imgObj) {
          return (
            <a
              href={`.././images/mock/${imgObj.fileName}`}
              data-pswp-width={imgObj.width}
              data-pswp-height={imgObj.height}
              target="_blank"
              data-cropped="true"
            >
              <img
                src={`.././images/mock/${imgObj.fileName}`}
                width={imgObj.width / divBy}
                height={imgObj.height / divBy}
                alt=""
              />
            </a>
          );
        })
      }
    </div>
  </div> -->
  <img src=".././images/mock/z-BF-Site-Homepage-01_sm.jpg" alt="" />
</Layout>

<style>
  h1 {
    background-color: red;
    color: white;
    padding: 0.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  h2 {
    text-align: center;
    margin: 1rem;
  }

  .pswp-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  a {
    margin: 5px;
    text-decoration: none;
    transition: transform 550ms;
  }

  a:hover {
    transform: translateY(-2px);
  }

  img {
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  /* img:hover {
    box-shadow: 1px 3px 5px 2px hsla(0, 0%, 0%, 0.425);
  } */
</style>

<!-- <script src="./../js/photoSwipe.js"></script> -->
