---
import data from "../js/load.js";
import Layout from "../layouts/Layout.astro";

const divBy = 4;
---

<Layout title="initial page">
  <h1>JW Pippen Gallery Test</h1>
  <div id="app" class="gallery">
    <div class="pswp-gallery" id="my-gallery">
      {
        data.map(function (imgObj) {
          return (
            <a
              href={`.././images/mock/${imgObj.fileName}`}
              data-pswp-width={imgObj.width}
              data-pswp-height={imgObj.height}
              target="_blank"
              data-cropped="true"
            >
              <img
                src={`.././images/mock/${imgObj.fileName}`}
                width={imgObj.width / divBy}
                height={imgObj.height / divBy}
                alt=""
              />
            </a>
          );
        })
      }
    </div>
  </div>
</Layout>

<style>
  h1 {
    background-color: red;
    color: white;
    padding: 1rem;
  }

  img {
    object-fit: cover;
  }
</style>

<script src="./../js/photoSwipe.js"></script>
